<div class="welcome" >
  <p>This is a place to learn guitar riffs. Create riffs, learn them, share them. Have fun!</p>
  <div fxLayout.lt-md="column" fxLayout.gs-sm="row" fxLayoutAlign="center center">
    <section>
      <h1>CREATE</h1>
      <p>Create new riffs from your favorite tunes (even your own). 
        Don't worry if you've never tried this before, we'll hold your hand the whole way!
      </p>
    </section>
    <section>
      <h1>PLAY</h1>
      <p>Use our simulator to play back some rockin' riffs. 
        We'll keep track of your progress and help you get better
      </p>
    </section>
    <section>
      <h1>COMMUNITY</h1>
      <p>Talk about your riffs! How's your playing coming along? Get some tips!
  
      </p>
    </section>
  </div>
  
</div>